body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #d44a4a;
    margin: 0;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    height: 100vh; 
}

.adminHeader {
    color: white;
    margin-bottom: 20px; 
    margin-top: 20px; 
    flex-shrink: 0; 
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 50px; 
    justify-content: center; 
    max-width: 500px; 
    margin: 0 auto; 
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    background-color: white;
    border: 1px solid #d44a4a;
    height: 135px;
    width: 150px; 
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.btn img {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

.btn span {
    margin-top: 10px;
    text-align: center;
}
