#adminCalendar {
    width: 100%;
    border-collapse: collapse;
}

#adminCalendar th, #adminCalendar td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#adminCalendar th {
    background-color: #f2f2f2;
}

/* Make the days bold */
td.day {
    font-weight: bold;
    color: black; 
}

/* Style for "Available" */
td.available span {
    color: black; 
    border-radius: 10px; 
    padding: 5px;
    background-color: #aef7ae; 
    display: inline-block; 
}

/* Style for events, location, time, dishes, and total dishes */
td.event span, td.location span, td.time span, td.dishes span, td.total-dishes span {
    color: black; 
    border-radius: 10px; 
    padding: 5px;
    background-color: #f15e5e; 
    display: inline-block; 
}

/* Style for table headers */
table#adminCalendar th {
    text-transform: uppercase; 
    font-weight: bold; 
    color: white; 
    background-color: #f15e5e; 
    padding: 10px; 
    border-radius: 0; 
}

/* Ensure blank fields remain white */
td:not(.available):not(.event):not(.location):not(.time):not(.dishes):not(.total-dishes) {
    background-color: white; 
}


td span:empty {
    display: none; 
}

.btn-adminHomeButton{
    cursor: pointer;
    background-color:#f15e5e;
    border:#f15e5e;
    width: 150px;
    height: 50px;
}




