.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.vertical-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 80%;
    margin-top: 0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: 100%;
}

.form-group input, select {
    width: 250px;
    padding: 8px;
}

.form-group label {
    margin-bottom: 5px;
    width: 100%;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
}

.event-body {
    background-color: #d44a4a;
    color: white;
}

.jumbotron-event-creation {
    background-color: #d44a4a;
    color: white;
    text-align: center;
    padding: 20px;
}

.event-creation-button {
    background-color: rgb(163, 163, 105);
    color: white;
    width: 100px;
    font-size: large;
    border: none;
    border-radius: 15px;;
    padding: 15px;
    font-weight: 600;
    margin-top: 260px;
    margin-left: 220px;
}

.event-creation-button:hover {
    background-color: rgb(209, 209, 172);
}