.btn-adminHomeButton{
  cursor: pointer;
  color: white;
  background-color:#9B9D64;
  border:#9B9D64;
  width: 150px;
  height: 50px;
}

body{
  background-color: #d44a4a;
  text-align: center;
}

.referralStatisticsHeader{
  color: white;
}

.chart-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
}
  
  